@model ProductViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-3">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <select class="form-select" name="category"
                            asp-items="@(new SelectList(Model.Categories,"CategoryId","Name",Model.SelectedCategory))">
                        <option value="0">All</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-primary" type="submit">Filter</button>
                </div>
            </div>
        </div>
    </form>
</div>

<table class="table table-bordered table-striped">    
    <thead>
        <tr>
            <th style="width: 100px">@Html.DisplayNameFor(m => m.Products[0].ProductId)</th>
            <th style="width: 100px">@Html.DisplayNameFor(m => m.Products[0].Image)</th>
            <th>@Html.DisplayNameFor(m => m.Products[0].Name)</th>
            <th style="width: 100px">@Html.DisplayNameFor(m => m.Products[0].Price)</th>
            <th style="width: 130px"></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var prd in @Model.Products)
        {
            <tr>
                <td>@prd.ProductId</td>
                <td>
                    <img src="~/img/@prd.Image" class="img-fluid" alt="Alternate Text" />
                </td>
                <td>@prd.Name</td>
                <td>@prd.Price</td>
                <td>
                    <a class="btn btn-sm btn-primary" href="/Home/Edit/@prd.ProductId">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/Home/Delete/@prd.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
